* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #ff8c00, #000000);
}

/* Hintergrundfarbe der Navbar */
.navbar {
  background-color: darkorange !important;
  display: flex;
  align-items: center; /* Vertikale Ausrichtung */
}

/* Links in der Navbar weiß färben */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white !important;
}

/* Logo Styling */
#navbarLogo img {
  height: 50px;
  width: 180px;
}

/* Auf mobilen Bildschirmen Logo zentrieren und Toggler sichtbar machen */
@media (max-width: 767px) {
  #navbarLogo {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }

  /* Toggler sichtbar machen */
  .navbar-toggler {
    display: block !important; /* Toggler sichtbar machen */
  }
}

/* Optional: Abstand für den Toggler-Button auf großen Bildschirmen */
.navbar-toggler {
  margin-left: auto; /* Toggler-Button auf der rechten Seite */
}

/* Stil für das modale Fenster */
.modal-dialog {
  max-width: 500px;
}
.modal-header {
  border-bottom: 1px solid #ddd;
}
.modal-footer {
  border-top: 1px solid #ddd;
}
.modal-body input[type='text'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.file-info div {
  margin-right: 20px; /* Abstand zwischen den Informationen */
}

.scrollable-container {
  width: 700px; /* Breite des Fensters */
  height: 400px; /* Höhe des Fensters */
  overflow: auto; /* Ermöglicht das Scrollen */
  border: 1px solid #ccc; /* Rahmen für das Fenster */
  padding: 10px; /* Innenabstand */
  background-color: #f8f9fa;
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Zentriert die Buttons horizontal */
  margin-top: 20px; /* Abstand oben zu dem scrollbaren Container */
}
.button-container button {
  margin: 0 10px; /* Abstand zwischen den Buttons */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
}
.card {
  display: flex;
  flex-direction: row; /* Beide Card-Seiten nebeneinander auf großen Bildschirmen */
  flex-wrap: wrap; /* Erlaubt Umbruch auf kleineren Bildschirmen */
  gap: 1rem; /* Abstand zwischen den Card-Seiten */
  width: 80vw; /* Breite der Card auf 80% der Ansichtsbreite setzen */
  max-width: 900px; /* Maximale Breite der Card setzen */
  height: auto; /* Höhe der Card automatisch anpassen */
  border-radius: 10px;
  overflow: hidden; /* Verhindert, dass Inhalt außerhalb der Card angezeigt wird */
}

.card-left,
.card-right {
  flex: 1; /* Beide Seiten der Card wachsen gleichmäßig */
  min-width: 300px; /* Minimale Breite der Card-Seiten */
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
  align-items: center; /* Zentriert den Inhalt horizontal */
  background: #f8f9fa; /* Hellgrauer Hintergrund für den leeren Bereich */
  padding: 1rem; /* Innenabstand */
}

.card-left .text-center {
  margin-bottom: 1rem; /* Abstand zwischen Text und Bild */
}

.card-left img {
  max-width: 100%; /* Bild wird innerhalb des Containers skaliert */
  height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis zu bewahren */
}

.card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffa500, #ff4500); /* Farbverlauf für den Hintergrund */
  color: white; /* Textfarbe */
  padding: 2rem; /* Innenabstand */
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
  .card {
    flex-direction: column; /* Stapelt die Card-Seiten übereinander */
  }
}

.btn-primary {
  background-color: #ff4500;
  border-color: #ff4500;
}
.btn-primary:hover {
  background-color: #ff6347;
  border-color: #ff6347;
}
.form-control {
  border-radius: 5px;
}
