* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #FF8C00, #000000);
  
}

.navbar {
  background-color: darkorange !important;
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white !important;
}

.scrollable-container {
  width: 700px; /* Breite des Fensters */
  height: 400px; /* Höhe des Fensters */
  overflow: auto; /* Ermöglicht das Scrollen */
  border: 1px solid #ccc; /* Rahmen für das Fenster */
  padding: 10px; /* Innenabstand */
  background-color: #f8f9fa;
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: center; /* Zentriert die Buttons horizontal */
  margin-top: 20px; /* Abstand oben zu dem scrollbaren Container */
}
.button-container button {
  margin: 0 10px; /* Abstand zwischen den Buttons */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 50px;
}

.card {
  width: 80vw; /* Breite der Karte auf 80% der Ansichtsbreite setzen */
  max-width: 900px; /* Maximale Breite der Karte setzen */
  height: 60vh; /* Höhe der Karte auf 60% der Ansichts-Höhe setzen */
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden; /* Verhindert, dass Inhalt außerhalb der Karte angezeigt wird */
}
.card-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Zentriert den Inhalt vertikal */
  align-items: center; /* Zentriert den Inhalt horizontal */
  background: #f8f9fa; /* Optional: helles Hintergrund für den leeren Bereich */
  padding: 1rem; /* Optional: Padding für den Innenabstand */
}

.card-left .text-center {
  margin-bottom: 1rem; /* Abstand zwischen Text und Bild */
}

.card-left img {
  max-width: 80%; /* Optional: Bildgröße anpassen */
  height: auto; /* Höhe automatisch anpassen, um das Seitenverhältnis zu bewahren */
}
.card-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #FFA500, #FF4500);
  color: white;
  padding: 2rem;
}
.card-body {
  width: 100%;
}
.btn-primary {
  background-color: #FF4500;
  border-color: #FF4500;
}
.btn-primary:hover {
  background-color: #FF6347;
  border-color: #FF6347;
}
.form-control {
  border-radius: 5px;
}